doctype html
html
	head
		title FlatStack Frontend Test
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		link(href="./assets/css/main.css", rel="stylesheet")
		link(href="./assets/css/normalize.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css')
		link(href="./assets/fonts/raleway/raleway.css", rel="stylesheet")
	body
		header.header
			.header__redcontainer
				nav.header__nav.nav
					.nav__logo
					ul.nav__menu.menu
						a(href='').menu__element.menu__element--active Home
						a(href='').menu__element About
						a(href='').menu__element WORK
						a(href='').menu__element Blog
						a(href='').menu__element Contact
				.header__slogan Hi there! We are the new kids on the block
					br 
					| and we build awesome websites and mobile apps
					br
					a(href='').header__button WORK WITH US!
		section.service
			h2.service__title SERVICES WE PROVIDE
			.service__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.oneService
				include ./assets/images/icon1.svg
				h3.oneService__title Branding
				p.oneService__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
			.oneService
				include ./assets/images/icon2.svg
				h3.oneService__title Design
				p.oneService__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem  
			.oneService
				include ./assets/images/icon3.svg
				h3.oneService__title Development
				p.oneService__description At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
			.oneService
				include ./assets/images/icon4.svg
				h3.oneService__title ROCKET SCIENCE
				p.oneService__description Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
		section.team
			h2.team__title MEET OUR TEAM
			.team__subtitle We are a small team of designers and developers, who help brands with big ideas.
			.team__member.member
				img.member__photo(src='./assets/images/photo1.jpg')
				h3.member__name James Collins
				span.member__position CEO / Marketing Guru
				p.member__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo2.jpg')
				h3.member__name Peter Davis
				span.member__position Creative Director
				p.member__description Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo3.jpg')
				h3.member__name Olivia Wilde
				span.member__position Lead Designer
				p.member__description Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo4.jpg')
				h3.member__name Ashley Greene
				span.member__position SEO / Developer
				p.member__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
		script(src='./assets/js/main.js', type='text/javascript')