doctype html
html
	head
		link(href="./assets/css/main.css", rel="stylesheet")
		link(href="./assets/css/normalize.css", rel="stylesheet")
		link(href="./assets/fonts/oxygen/oxygen.css", rel="stylesheet")
		link(href="./assets/fonts/raleway/raleway.css", rel="stylesheet")
	body
		header.header
			.header__redcontainer
				nav.header__nav.nav
					.nav__logo
					ul.nav__menu.menu
						a(href='').menu__element.menu__element--active Home
						a(href='').menu__element About
						a(href='').menu__element WORK
						a(href='').menu__element Blog
						a(href='').menu__element Contact
				.header__slogan Hi there! We are the new kids on the block
					br 
					| and we build awesome websites and mobile apps
					br
					a(href='').header__button WORK WITH US!
		script(src='./assets/js/main.js', type='text/javascript')