doctype html
html
	head
		title FlatStack Frontend Test
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="./assets/css/normalize.css", rel="stylesheet")
		link(href="./assets/css/main.css", rel="stylesheet")
		link(href="./assets/fonts/raleway/raleway.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Oxygen:700,400,300' rel='stylesheet' type='text/css')
	body
		header.header
			.header__redcontainer
				nav.header__nav.nav
					a.nav__openMenu(href='#', id='openmenu') МЕНЮ
					ul.nav__menu.menu
						a(href='').menu__element.menu__element--active Home
						a(href='').menu__element About
						a(href='').menu__element WORK
						a(href='').menu__element Blog
						a(href='').menu__element Contact
				.header__slogan Hi there! We are the new kids on the block
					br 
					| and we build awesome websites and mobile apps
					br
					a(href='').header__button WORK WITH US!
		section.service
			h2.service__title SERVICES WE PROVIDE
			.service__subtitle We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.oneService
				include ./assets/images/icon1.svg
				h3.oneService__title Branding
				p.oneService__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
			.oneService
				include ./assets/images/icon2.svg
				h3.oneService__title Design
				p.oneService__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem  
			.oneService
				include ./assets/images/icon3.svg
				h3.oneService__title Development
				p.oneService__description At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
			.oneService
				include ./assets/images/icon4.svg
				h3.oneService__title ROCKET SCIENCE
				p.oneService__description Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
		section.team
			h2.team__title MEET OUR TEAM
			.team__subtitle We are a small team of designers and developers, who help brands with big ideas.
			.team__member.member
				img.member__photo(src='./assets/images/photo1.jpg')
				h3.member__name James Collins
				span.member__position CEO / Marketing Guru
				p.member__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo2.jpg')
				h3.member__name Peter Davis
				span.member__position Creative Director
				p.member__description Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo3.jpg')
				h3.member__name Olivia Wilde
				span.member__position Lead Designer
				p.member__description Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/linkedin-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
			.team__member.member
				img.member__photo(src='./assets/images/photo4.jpg')
				h3.member__name Ashley Greene
				span.member__position SEO / Developer
				p.member__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
				a.member__link(href='#')
					include ./assets/images/facebook-icon.svg
				a.member__link(href='#')
					include ./assets/images/twitter-icon.svg
				a.member__link(href='#')
					include ./assets/images/mail-icon.svg
		section.skills
			h2.skills__title WE GOT SKILLS!
			.skills__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.skills_one.oneSkill
				include ./assets/images/radial.svg 
				.oneSkill__num 90
				.oneSkill__title web Design
			.skills_one.oneSkill
				include ./assets/images/radial.svg 
				.oneSkill__num 75
				.oneSkill__title HTML / CSS
			.skills_one.oneSkill
				include ./assets/images/radial.svg 
				.oneSkill__num 70
				.oneSkill__title GRAPHIC DESIGN
			.skills_one.oneSkill
				include ./assets/images/radial.svg 
				.oneSkill__num 85
				.oneSkill__title UI / UX
		section.portfolio
			h2.portfolio__title OUR PORTFOLIO
			.portfolio__subtitle Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
			.portfolioFilter
				a(href='#').portfolioFilter__button.portfolioFilter__button--active ALL
				a(href='#').portfolioFilter__button WEB
				a(href='#').portfolioFilter__button.portfolioFilter__button--choosed APPS
				a(href='#').portfolioFilter__button.portfolioFilter__button--choosed ICONS
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work1.jpg')
				.portfolioElement__overlay 
					div Isometric 
						br 
						| Perspective 
						br 
						| Mock-Up
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work2.jpg')
				.portfolioElement__overlay 
					div Time Zone App UI
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work3.jpg')
				.portfolioElement__overlay 
					div Viro Media Players UI
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work4.jpg')
				.portfolioElement__overlay 
					div Isometric Perspective Mock-Up
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work5.jpg')
				.portfolioElement__overlay 
					div Time Zone App UI
			.portfolioElement
				img.portfolioElement__photo(src='./assets/images/work6.jpg')
				.portfolioElement__overlay 
					div Isometric 
						br 
						| Perspective 
						br 
						| Mock-Up
		section.reviews
			h2.reviews__title WHAT POEPLE SAY ABOUT US
			.reviews__subtitle Our clients love us!
			.reviews__container
				.reviews__one.review
					img(src='./assets/images/small-photo1.jpg', align='left').review__photo
					.review__text Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.
						.review__name Chanel Iman
						.review__position CEO of Pinterest
				.reviews__one.review
					img(src='./assets/images/small-photo2.jpg', align='left').review__photo
					.review__text Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
						.review__name Brooklyn Jones
						.review__position Founder of Instagram
				.reviews__one.review
					img(src='./assets/images/small-photo3.jpg', align='left').review__photo
					.review__text Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
						.review__name Donald Roberts
						.review__position Lead Designer at Behance
				.reviews__one.review
					img(src='./assets/images/small-photo4.jpg', align='left').review__photo
					.review__text Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.
						.review__name Joe Ward
						.review__position Co-Founder of Shazam
		section.contactForm
			h2.contactForm__title GET IN TOUCH
			.contactForm__subtitle 1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
			form.form
				.form__group
					input.form__input(type='text', placeholder='Your Name', name='name')
					span.form__error Как вас зовут?
				.form__group.form__group--second
					input.form__input(type='email', placeholder='Your Email', name='email', required)
					span.form__error А можно узнать ваш email?
				.form__group.form__group--fullwidth
					textarea.form__input.form__input--textarea(placeholder='Your Message', name='message', required)
					span.form__error Ну, теперь рассказывайте!
				input.form__submit(type='submit', value='SUBMIT')
		footer.footer
			.footer__subtitle follow us
			a.footer__link(href='#')
				include ./assets/images/github-icon.svg
			a.footer__link(href='#')
				include ./assets/images/twitter-icon.svg
			a.footer__link(href='#')
				include ./assets/images/dribble-icon.svg
			a.footer__link(href='#')
				include ./assets/images/facebook-icon.svg
			a.footer__link(href='#')
				include ./assets/images/instagram-icon.svg
		script(src='./assets/js/main.js', type='text/javascript')