*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  font-family: Raleway;
  font-size: 66%;
}
.header {
  height: 596px;
  background: url("../images/headerbg.jpg");
  position: relative;
  z-index: 100;
  background-size: cover;
}
.header__redcontainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(245,122,130,0.8);
  mix-blend-mode: multiply;
}
.header__slogan {
  vertical-align: middle;
  color: #f7f3ea;
  font-size: 38px;
  font-weight: 300;
  font-family: 'ralewayextralight';
  text-align: center;
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
  position: absolute;
  right: 49%;
  bottom: 46%;
  white-space: nowrap;
  padding-left: 62px;
}
.header__button {
  text-transform: uppercase;
  color: #f57a82;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  font-family: Oxygen;
  letter-spacing: 3px;
  display: inline-block;
  margin-top: 20px;
}
.header__nav {
  position: absolute;
  top: 59px;
  z-index: 100;
  right: 22px;
}
.header__nav .menu__element {
  padding: 0.5rem 1.4rem;
  margin-right: 28px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "ralewaylight";
  text-decoration: none;
}
.header__nav .menu__element:last-child {
  margin-right: 17px;
}
.header__nav .menu__element--active {
  border: 1px solid #fff;
  border-radius: 4px;
}
.header__nav .menu__element:hover {
  box-shadow: 0 0 1px #fff;
}
.header__nav--fixed {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(255,255,255,0.9);
  top: 0px;
  right: 0px;
  box-shadow: 0 0 2px #000;
  -webkit-animation: showFromtTop 0.3s;
          animation: showFromtTop 0.3s;
}
.header__nav--fixed .menu {
  line-height: 56px;
  float: right;
}
.header__nav--fixed .menu .menu__element {
  color: #000;
}
.header__nav--fixed .menu .menu__element--active {
  border: 1px solid #000;
  border-radius: 4px;
}
.header__nav--fixed .menu .menu__element:hover {
  box-shadow: 0 0 1px #fff;
}
.service {
  background-color: #5db5a4;
  min-height: 747px;
  padding-top: 100px;
  text-align: center;
}
.service__title {
  font-family: Oxygen;
  font-size: 38px;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  letter-spacing: 10px;
  color: #fff;
}
.service__title:after {
  content: " ";
  width: 6%;
  height: 4px;
  background: rgba(255,255,255,0.3);
  display: block;
  margin: 14px auto 0px auto;
}
.service__subtitle {
  font-family: "ralewaylight";
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  max-width: 709px;
  text-align: center;
  margin: 33px auto 71px auto;
}
.oneService {
  display: inline-block;
  vertical-align: top;
  max-width: 192px;
  margin-right: 85px;
}
.oneService:last-child {
  margin-right: 0px;
}
.oneService svg {
  height: 126px;
}
.oneService svghover > path {
  fill: #000;
}
.oneService__title {
  font-family: Oxygen;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 69px;
}
.oneService__description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "ralewayextralight";
}
.team {
  min-height: 914px;
  background: #eefafb;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}
.team__title {
  font-family: Oxygen;
  font-size: 38px;
  font-weight: 300;
  margin: 0px;
  text-align: center;
  letter-spacing: 10px;
  color: #383838;
}
.team__title:after {
  content: " ";
  width: 6%;
  height: 4px;
  background: rgba(0,0,0,0.3);
  display: block;
  margin: 14px auto 0px auto;
}
.team__subtitle {
  font-family: "ralewaylight";
  font-size: 18px;
  font-weight: 400;
  color: #383838;
  max-width: 709px;
  text-align: center;
  margin: 33px auto 71px auto;
}
.member {
  display: inline-block;
  vertical-align: top;
  max-width: 192px;
  margin-right: 85px;
}
.member__photo {
  border-radius: 50%;
  margin-bottom: 40px;
}
.member__name {
  color: #383838;
  font-family: 'Oxygen';
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.member__position {
  color: #383838;
  font-family: "ralewayextralight";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.member__description {
  color: #383838;
  font-family: "ralewayextralight";
  font-size: 16px;
  font-weight: 400;
  min-height: 114px;
}
.member__link {
  padding: 10px;
}
.member__link:hover svg > path {
  fill: #000;
  opacity: 1;
  transition: 0.3s all;
}
@-webkit-keyframes showFromtTop {
  from {
    top: -70px;
  }
  to {
    top: 0px;
  }
}
@keyframes showFromtTop {
  from {
    top: -70px;
  }
  to {
    top: 0px;
  }
}
