// Fonts
base-font = "ralewaylight"
thin-font = "ralewaythin" // Works for font-weight 300
light-font = 'ralewayextralight' // Works for font-weight 400
additional-font = 'Oxygen' // All weights included
				
*, *:after, *:before
	box-sizing: border-box

html, body
	margin 0px
	font-family base-font
	font-size 10px
	height 100%

// Блок шапка с цветной подложкой, слоганом и кнопкой.
.header
	height 100%
	background url('../images/headerbg.jpg')
	position relative
	z-index 100
	background-size cover
	
	// Можно определить цвет в шапке
	&__redcontainer
		width 100%
		height 100%
		position absolute
		top 0px 
		left 0px
		background rgba(245,122,130,0.8)
		mix-blend-mode multiply
	
	&__slogan
		vertical-align middle
		color: #f7f3ea;
		font-size: 3.5rem
		font-weight: 300;
		font-family: thin-font
		text-align center
		transform: translateX(50%) translateY(50%);
		position: absolute;
		right: 50%;
		bottom: 50%;
		max-width: 867px;
		@media screen and (max-width: 767px)
			font-size 2.5rem
		
	&__button
		text-transform uppercase
		color white
		padding 1rem 2rem
		font-size 2.5rem
		text-decoration none
		border: 2px solid white;
		border-radius: 4px;
		font-family additional-font
		font-weight: 700;
		letter-spacing 3px
		display inline-block 
		margin-top 54px
		
		&:hover
			transition 0.33s all
			background-color: white;	
			color: #f57a82

	// Блок навигации в шапке			
	.nav
		position absolute
		top 59px
		z-index 100
		right 22px
		@media screen and (max-width: 767px)
			position fixed
			width 100%
			height 70px
			background alpha(#fff, 0.9)
			top 0px
			right 0px
			box-shadow 0 0 2px black
			
		// Кнопка вызова меню
		&__openMenu
			display none
			
			@media screen and (max-width: 767px)
				margin: 0px auto;
				display: block;
				text-align: center;
				line-height: 70px;
				color #383838
				font-family additional-font
				font-size 2rem
				text-decoration none
				font-weight 300
				letter-spacing 2px 
		
		// Само меню
		.menu
			@media screen and (max-width: 767px)
				background-color: white;
				top: 60px;
				position: absolute;
				width 100%
				display block
				padding-left 0px
				display none
				
			&--visible
				display block
			
			&__element
				padding 0.5rem 1.4rem
				margin-right 28px
				text-transform: uppercase;
				color: white;
				font-size: 1.6rem
				font-weight: 400;	
				font-family light-font
				text-decoration none
				@media screen and (max-width: 767px)
					width 100%
					display block
					color #383838
					text-align center
					padding 1rem 1.4rem
				
				&:last-child
					margin-right 17px
				
				&--active
					border 1px solid white;
					border-radius: 4px;
					
					&:hover
						background white
						color #383838
						transition 0.3s all
					
				&:hover
					box-shadow: 0 0 1px #fff;
					
		&--fixed
			position fixed
			width 100%
			height 70px
			background alpha(#fff, 0.9)
			top 0px
			right 0px
			box-shadow 0 0 2px black
			animation showFromtTop 0.3s 
			
			.menu
				line-height: 56px;
				float right
			
				.menu__element
					color black 
					
					&--active
						border 1px solid black;
						border-radius: 4px;
						
					&:hover
						box-shadow: 0 0 1px #fff;

// Sections
.section
	padding-top 100px
	text-align center
	overflow hidden
	
	// Модификаторы под каждый раздел
		
	&--service
		background-color: #5db5a4;
		min-height 747px
		@media screen and (max-width: 767px)
			padding 100px 10px 0px 10px
			
	&--team
		min-height 914px;
		background #eefafb;
		padding 100px 0px 50px 10px	
		
	&--skills
		padding-bottom 100px
		background-color: white;
		text-align center
		
	&--portfolio
		background black
		font-size 0px
		
	&--reviews
		background-color: #ed5276;
		
	&--contactForm
		min-height 819px;
		@media screen and (min-width: 768px) and (max-width: 1024px)
			padding 109px 10px 0px 10px
	
	&--blog
		background-color: #e7e7e7;
		text-align left
		padding-bottom 40px

	&--footer
		min-height: 212px
		background-color: #e7e7e7;
		padding-top 10px
		
	// Элементы
	&__title
		font-family: additional-font
		font-size: 3.8rem
		font-weight: 300;
		margin 0px
		text-align center
		letter-spacing 10px
		
		&--service
			color white
			
		&--team
			color: #383838;
			
		&--skills
			color: #383838;
		
		&--reviews
			color: white
			
		&--portfolio
			color white
			
		&--contactForm
			color: #383838;
			
		&:after
			content " "
			width 6%
			height 4px
			background alpha(#fff, 0.3)
			display block
			margin 14px auto 0px auto
			
	&__subtitle
		font-family: light-font
		font-size: 1.8rem
		font-weight: 400;
		max-width 709px
		text-align center
		margin 33px auto 71px auto
		
		&--service
			color white
			
		&--team
			color: #383838
			
		&--skills
			color: #383838
			
		&--reviews
			color white
			
		&--portfolio
			color white
			
		&--contactForm
			color: #383838;
			
		&--footer
			color: #b2b2b2;
			font-size: 1.6rem
			text-transform: uppercase;
			margin-bottom 41px
		
.oneService
	display inline-block
	vertical-align top
	max-width 192px
	margin-right 85px
	@media screen and (max-width: 767px)
		max-width 100%
		width 100%
		display block
		margin 0px auto
		margin-bottom 39px
	@media screen and (min-width: 767px) and (max-width: 1024px)
		margin-right 0px
		max-width 50%
		width calc(50%)

	&:nth-of-type(2n)
		@media screen and (min-width: 767px) and (max-width: 1024px)
			margin-right 0px
			width 50%
			
	&:last-child
		margin-right 0px
		margin-bottom 0px
		
	svg
		height 126px

	&__title
		font-family: additional-font
		font-size: 2.2rem
		font-weight: 300;
		text-transform: uppercase;
		color white
		letter-spacing 1px 
		margin-top 69px
		@media screen and (max-width: 767px)
			margin-top 19px
		
	&__description
		color: white;
		font-size: 1.6rem
		font-weight: 400;
		line-height: 25px;
		font-family light-font

.member
	display inline-block
	vertical-align top
	max-width 192px
	margin-right 85px
	@media screen and (max-width: 760px)
		margin-right 0px
		display block
		width 100%
		max-width 100%
		margin-bottom 40px
	@media screen and (min-width: 768px) and (max-width: 1024px)
		width 50%
		max-width initial
		margin 0px 0px 40px 0px
		padding 0px 10px
		
	&:last-child
		margin-right 0px
	
	&__photo
		border-radius 50%
		margin-bottom 19px
		
	&__name
		color: #383838;
		font-family: additional-font
		font-size: 2.2rem
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom 9px
		
	&__position
		color: #383838;
		font-family: light-font
		font-size: 1.2rem
		font-weight: 400;
		text-transform: uppercase;
		
	&__description
		color: #383838;
		font-family: light-font
		font-size: 1.6rem
		font-weight: 400;
		min-height 114px
		margin-top: 25px;
		line-height: 25px;
		@media screen and (max-width: 767px)
			min-height initial
		
	&__link
		// Making clickable area more
		padding 10px
		font-size 0px // Странный хак, но иначе убрать подчёркивание я не смог.
		
		&:hover svg > path
			fill black
			opacity 1
			transition 0.3s all
			
		svg
			height 12px

.oneSkill
	margin-right 120px
	display inline-block;
	position relative;
	@media screen and (max-width: 767px)
		width 100%
		display block
		margin-bottom 40px
	@media screen and (min-width: 768px) and (max-width: 1024px)
		width 50%
		max-width 50%
		margin 0px 0px 40px 0px
		padding 0px 10px
	
	&:last-child
		margin-right 0px
	
	&__title
		text-align center
		color: #383838;
		font-family: additional-font
		font-size: 2.2rem
		font-weight: 300;
		text-transform: uppercase;
		margin-top 32px;
		@media screen and (max-width: 767px)
			margin-top 0px
		
	&__num
		color: #383838;
		font-family: thin-font
		font-size: 5.0rem
		font-weight: 100;
		text-transform: uppercase;
		position absolute
		top 50%
		left 50%
		transform translateX(-50%) translateY(calc(-50% - 35px))
		
	&--pink svg circle + circle
		stroke #ed5276
		
	&--lightGreen svg circle + circle
		stroke #5db5a4
		
	&--rose svg circle + circle
		stroke #f57a82

	// Анимация заполнения бара	
	svg 
		transform-origin: 50% 50%;
		
		circle
			transition: stroke-dashoffset 1s linear;
	
.reviews__container
	max-width 1086px
	margin 0px auto
	@media screen and (max-width: 767px)
		padding 0px 10px
		
.review
	display inline-block
	width: calc(50% - 60px);
	margin-right 60px
	vertical-align top
	margin-bottom 178px
	@media screen and (max-width: 767px)
		width 100%
		margin-bottom 40px
		margin-right 0px
	@media screen and (min-width: 768px) and (max-width: 1024px)
		width 50%
		max-width 50%
		margin 0px 0px 40px 0px
		padding 0px 10px

	&:nth-of-type(2n)
		margin-left 60px
		margin-right 0px
		@media screen and (max-width: 767px)
			margin-left 0px
		@media screen and (min-width: 768px) and (max-width: 1024px)
			margin 0px
	
	&__photo
		border-radius 50%
		margin-right 48px
		
	&__text
		color: white;
		font-family: light-font
		font-size: 1.8rem
		font-weight: 400;
		text-align left
		margin-left: 144px;
		
	&__name
		text-align left
		color: white;
		font-family: additional-font
		font-size: 2.2rem
		font-weight: 400;
		text-transform: uppercase;
		margin-top 27px
		
	&__position
		text-align left
		color: white;
		font-family: light-font
		font-size: 1.2rem
		font-weight: 400;
		text-transform: uppercase;
		margin-top 13px
		
.portfolioFilter
	margin 43px	0px 43px 0px
	
	&__button
		color: white;
		font-family: light-font
		font-size: 1.8rem
		font-weight: 400;
		padding .4em 1.5em
		border-radius: 4px;
		margin-right 10px
		text-decoration none
		@media screen and (max-width: 767px)
			font-size 1.4rem
		
		&--choosed
			background-color: #f4cda5;
			border: 2px solid #f4cda5;
			
		&--active
			border: 2px solid white;
			
.portfolioElement
	position relative
	display inline-block
	width 33.33%
	overflow hidden
	@media screen and (max-width: 767px)
		width 50%
	
	&:hover .portfolioElement__overlay
		display block
		text-shadow 1px 1px 3px black
		// animation showFromtTop 1s
			
	&:hover img
		transform scale(1.2)
		transition transform 0.5s
	
	&__photo
		width 100%
		
	&__overlay
		position absolute
		left 0px
		top 0px
		// background #612b1a
		width 100%
		height 100%
		color: white;
		font-family: thin-font
		font-size: 3.8rem
		text-transform: uppercase;
		font-weight: 300;
		text-align center
		display none
		line-height: 5.8rem
		@media screen and (max-width: 767px)
			font-size 1.4rem
			line-height: 3rem
		@media screen and (min-width: 768px) and (max-width: 1024px)
			font-size 1.4rem
			line-height: 3rem

		div
			width 100%
			text-align center
			letter-spacing 2px
			position absolute
			top 50%
			transform translateY(-50%)
	
.blog__container
	max-width 1086px
	margin 0px auto

.blogPost
	vertical-align top
	display inline-block
	max-width 500px
	width calc(50% - 43px)
	margin-right 43px
	
	&__title
		color: #383838;
		font-family: 'Oxygen';
		font-size: 2.2rem;
		font-weight: 400;
		text-transform uppercase
	
	&__text
		color: #383838;
		font-family: 'ralewayextralight';
		font-size: 1.6rem;
		font-weight: 400;
		min-height: 114px;
		margin-top: 25px;
		line-height: 25px;
		
	&__date, &__author
		color: #383838;
		font-family: 'ralewayextralight';
		font-size: 1.7rem;

	&__author
		color: #383838;
		font-family: 'ralewayextralight';
		font-size: 1.6rem;
		float right
		
.form
	max-width 860px
	display block
	margin 0px auto
	@media screen and (max-width: 767px)
		padding 0px 10px
	
	&__group
		width calc(50% - 32px)
		margin-right 32px		
		display inline-block
		position relative
		
		&--second
			width 50%
			margin-right 0px
			
		&--fullwidth
			width 100%
			margin-right 0px

	&__input
		border: 1px solid #d7d7d7;
		border-radius: 4px;
		height: 56px;
		color: #383838;
		font-family: light-font
		font-size: 1.8rem
		font-weight: 400;
		padding-left 25px
		outline none
		width 100%
		
		&:focus,:hover
			border: 1px solid #383838;
			
		&:focus:invalid
			border: 2px solid #f57a82;
			
		&:focus:invalid + span
			display inline-block

		&--textarea
			padding-top 25px
			width 100%
			margin-right 0px
			margin-top 27px
			height 200px
			
	&__error
		position absolute
		bottom: -20px;
		left: 25px;
		color: #ed5276;
		font-family: light-font
		font-size: 1.2rem
		font-weight: 400;
		text-transform uppercase
		text-transform: uppercase;
		display none
			
	&__submit
		background-color: #ed5276;
		border-radius: 4px;
		border 0px 
		outline none
		color: white;
		font-family: additional-font
		font-size: 2.5rem
		font-weight: 700;
		letter-spacing 2px 
		padding: 1rem 2rem;
		margin-top 59px
					
.footer
	
	&__link
		height 44px
		font-size 0px
		padding 0px 15px
		
		.icon
			display inline-block
			vertical-align top
		
		.twitter-icon
			font-size 30px
			
		 .facebook-icon
			font-size 25px
			

@keyframes showFromtTop {
	from {
		top -70px
	}
	to {
		top 0px
	}
}